<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>tanxu</title>
    <meta name="description" content="">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="tankkausApp" ng-controller="MainCtrl">

  <div class="loading-overlay" ng-show="loading">
    <table>
    <tr><td>
      <h3>Lattaillaan..</h3>
    </td></tr>
    </table>
  </div>

  <div id="wrapper">


    <div class="view view-main on-screen" ng-class="{'on-screen' : view === 'view-main'}">
      
      <div class="view-section">
            <div class="view-header">
              <div class="pouser-select">
                <button class="button-arrow arrow-left" ng-click="setPrev()"></button>
                <h3 ng-bind="tank.name"></h3>
                <button class="button-arrow arrow-right" ng-click="setNext()"></button>
              </div>
            </div>

            <div class="plane-info input-section">          
              <input type="text" ng-model="plane.register" placeholder="FUK-YEE">
            </div>

          
            <div class="pouser" class="input-section">
              <div class="pouser-level">
                
                  <div indicator min="tank.min" max="tank.max" value="tank.value" direction="vertical"></div>
                  <span class="pouser-value">{{tank.value}}L / {{tank.max}}L</span>
                
              </div>
              <div rotate value="tank.take.value" max="tank.value">
                <div class="rotate-knob"></div>
              </div>

              
              <input class="value" pattern="\d*" type="text"  ng-model="tank.take.value">
            </div>


          
            <button class="submit" ng-click="takeFuel()">tank</button>
          
      </div>

      <div class="view-section">

                
            <div class="view-header">
              <h3>log</h3>
            </div>
             
            <table class="log">
            <tr>
              <th></th>
              <th>L</th>
              <th>rek</th>
              <th>date</th>
            </tr>
              <tr ng-repeat="row in tank.log">
                <td ng-bind="eventType[row.type]"></td>
                <td ng-bind="row.value"></td>
                <td ng-bind="row.message"></td>
                <td ng-bind="row.timestamp | date : 'hh:mm / dd.MM.yy'"></td>
              </tr>
            </table>

            <div class="view-header">
              <h3>admin</h3>
            </div>


            <button ng-click="fill()">refill</button>
      </div>
    </div>

  </div>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <!--
     <script>
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>
-->
    <!-- build:js(.) scripts/oldieshim.js -->
    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <![endif]-->
    <!-- endbuild -->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/rotate.js"></script>
        <script src="scripts/directives/rotate.js"></script>
        <script src="scripts/controllers/rotate.js"></script>
        <script src="scripts/directives/indicator.js"></script>
        <script src="scripts/services/tank.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/services/plane.js"></script>
        <script src="scripts/directives/fullheight.js"></script>
        <!-- endbuild -->
</body>
</html>
